.room-display-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    width: 150px;
}

.room-display-styles .header-container-styles {
    display: flex;
    align-items: start;
    background-color: gray;
    width: 100%;
    padding: 10px 10px;
}

.room-display-styles .dropdown-container-styles {
    display: flex;
    justify-content: center;
}