body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Common Text Colors */
.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-dark-gray {
  background-color: darkgray;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-light-blue {
  color: lightblue;
}